<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  (function () {
    var loaded = false;
    function loadGA() {
      if (loaded) return;
      loaded = true;
      var s = document.createElement("script");
      s.src = "https://www.googletagmanager.com/gtag/js?id={{ site.Params.gaId }}";
      s.async = true;
      document.head.appendChild(s);
      gtag("js", new Date());
      gtag("config", "{{ site.Params.gaId }}");
    }
    ["pointerdown", "keydown", "touchstart", "scroll"].forEach(function (evt) {
      window.addEventListener(evt, loadGA, { once: true, passive: true });
    });
  })();
</script>
